[submodule "external/circle-stdlib"]
	path = external/circle-stdlib
	url = https://codeberg.org/larchcone/circle-stdlib.git
[submodule "external/macemu"]
	path = external/macemu
	url = https://github.com/kanjitalk755/macemu.git
[submodule "external/hfsutils"]
	path = external/hfsutils
	url = https://github.com/JotaRandom/hfsutils.git
